@use "./mixins" as mixin;

:root {
  --clr-dark-blue: hsl(220, 14%, 12%); //#1B1D23
  --clr-light-gray: hsl(225, 17%, 82%); //#C8CCD8
  --clr-white: hsl(0, 0%, 100%);

  --transition: 0.2s ease;
}

body {
  text-rendering: optimizeSpeed;
  font-family: var(--ff-roboto);
  color: var(--clr-dark-blue);
}

a,
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
