@use "./mixins" as mixin;

//SHARED and UTILITY CLASSES//
.container {
  --width: 80%;
  width: min(var(--width), 69.375rem); //110px
  margin: 0 auto;

  @include mixin.breakpoint(sm) {
    --width: 90%;
  }
}

.screenReaderOnly {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
